{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
        <a href="" class="nav-link text-dark bg-warning">Dashboard</a>
        <a href="" class="nav-link text-dark bg-warning">Categories</a>
        <a href="" class="nav-link text-dark bg-warning">Blogs</a>
        <a href="" class="nav-link text-dark bg-warning">Logout</a>
      </div>
    </div>

    <div class="card mb-9">
      <div class="row">
        <div class="col">
            <div class="card border-default mb-3">
                <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                <div class="card-body text-center">{{ category_count }}</div>
            </div>
        </div>
        <div class="col">
            <div class="card border-default mb-3">
                <div class="card-header text-center text-uppercase font-weight-bold">All posts</div>
                <div class="card-body text-center">{{ blogs_count }}</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}