{% extends 'base.html' %}
{% block content %}
<div class="dashboard-page row">
  <div class="col-md-3 mb-3">
    {% include 'dashboards/sidebar.html' %}
  </div>

  <div class="col-md-9">
    <div class="category-panel">
      <div class="category-heading d-flex align-items-center justify-content-between">
        <h1>All Posts</h1>
        <a href="{% url 'add_post' %}" class="btn btn-dark category-add-button">
          <i class="fa fa-plus mr-1" aria-hidden="true"></i> Add Post
        </a>
      </div>

      <div class="table-responsive">
        <table class="table category-table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Category</th>
                  <th scope="col">Author</th>
                  <th scope="col">Status</th>
                  <th scope="col">Featured</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ post.title }}</td>
                  <td>{{ post.category }}</td>
                  <td>{{ post.author }}</td>
                  <td>{{ post.status }}</td>
                  <td>{{ post.is_featured }}</td>
                  <td class="category-actions text-center">
                    <a href="{% url 'edit_post' post.id %}" class="category-edit" aria-label="Edit {{ post.title }}">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    &nbsp;
                    <form action="{% url 'delete_post' post.id %}" method="post" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="category-delete border-0 bg-transparent p-0" aria-label="Delete {{ post.title }}" onclick="return confirm('Delete {{ post.title }} post?');">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">No posts found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}