{% extends 'base.html' %}

{% block content %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header--> 
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ blog.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ blog.created_at }} by {{ blog.author }}</div>
                    <!-- Post category-->
                    <a class="badge bg-warning text-decoration-none text-light" href="#">{{ blog.category }}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ blog.short_description }}</p>
                    <p class="fs-5 mb-4">{{ blog.blog_body }}</p>
                    <!-- Comments section -->
                    <div class="mt-5">
                        <h4 class="font-italic">Comments ({{ comments_count }})</h4>
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="mb-0">{{ comment.comment }}</p>
                                <small class="text-muted">By {{ comment.user.username }} on {{ comment.created_at | timesince }} ago</small>
                            </div>
                        </div>
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                        {% else %}
                        <p>No comments yet.</p>
                        {% endif %}
                        <div class="form-group">
                            {% if user.is_authenticated %}
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" placeholder="Add a comment..." required></textarea>
                                    <input type="submit" class="btn btn-primary mt-2" value="Submit Comment">
                                </div>
                            </form>
                            {% else %}
                            <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                              {% for category in categories %}
                                <li><a href="{% url 'posts_by_category' category_id=category.id %}">{{ category.category_name }}</a></li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            {% if social_links %}
        <div class="p-3">
          <h4 class="font-italic">Follow Us</h4>
          <ol class="list-unstyled">
            {% for link in social_links %}
            <li><a href="{{ link.platform_url }}" target="_blank">{{ link.platform_name }}</a></li>
            {% endfor %}
          </ol>
        </div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}