{% extends 'base.html' %}

{% block content %}

   <h3>{{ category.category_name }}</h3>
  <!-- Featured Blogs -->
    <div class="row mb-2 g-2">
      {% for post in posts %}
    <div class="col-md-6">
        <div class="card">
        <div class="card-body">
            <h3>{{post.title}}</h3>
            <small class="mb-1 text-muted">{{ post.updated_at|date:"M d" }} | {{ post.author.username }}</small>
            <p class="card-text">
            {{post.short_description | truncatewords:20}}
            </p>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}